body {
  font-family: Arial, sans-serif;
  background-color: #f9e4e4;
  padding: 40px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}
form {
  background-color: #fadef6;
  padding: 150px;
  max-width: 5000px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: rgb(24, 21, 21);
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
header{
    text-align: center;
}